<!DOCTYPE html>
<html lang="en">
  <!-- Include the head section -->
  <%- include('./partials/head.ejs') %>
  <body class="text-gray-600 body-font">
    <!-- Include the navigation bar -->
    <%- include('./partials/navigation.ejs') %>

    <div class="container px-5 md:pt-10 mx-auto rounded">
      <div
        class="w-full bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="text-center p-5 md:p-10">
          <!-- City Name -->
          <h1 class="mb-1 text-3xl font-medium text-gray-900 dark:text-white">
            <%= requestedCity %>
          </h1>
          <span class="text-sm text-gray-500 dark:text-gray-400">Today</span>
        </div>

        <!-- Current Weather Status -->
        <div class="flex flex-col md:flex-row border-b-2">
          <!-- Weather Icon -->
          <div
            class="text-center md:border-r-2 px-3 flex flex-col items-center w-full md:w-1/3"
          >
            <img
              src="<%= retreivedData.weather.iconURL %>"
              alt="Weather Icon"
              class="w-32 h-32 basis"
            />
            <span class="text-sm text-gray-500">
              <%= retreivedData.weather.main %>
            </span>
          </div>

          <!-- Current Weather Status -->
          <div class="w-full md:w-2/3">
            <div class="p-4 text-center">
              <!-- Current Temperature -->
              <h2
                class="title-font font-medium text-4xl md:text-6xl text-gray-900"
              >
                <%= Math.floor(retreivedData.main.temp) %>&#8451;
              </h2>
              <!-- Feels Like Temperature -->
              <p class="leading-relaxed text-sm mt-4">
                Feels: <%= Math.floor(retreivedData.main.feels_like) %>&#8451;
              </p>
            </div>
            <div class="flex justify-around">
              <div class="p-4">
                <!-- Minimum Temperature -->
                <h2
                  class="title-font font-medium text-xl md:text-3xl text-gray-900"
                >
                  <%= Math.floor(retreivedData.main.temp_min) %>&#8451;
                </h2>
                <p class="leading-relaxed">Min</p>
              </div>
              <div class="p-4">
                <!-- Maximum Temperature -->
                <h2
                  class="title-font font-medium text-xl md:text-3xl text-gray-900"
                >
                  <%= Math.floor(retreivedData.main.temp_max) %>&#8451;
                </h2>
                <p class="leading-relaxed">Max</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Other stats -->
        <div class="pt-15 md:py-24 px-5">
          <div class="flex flex-wrap">
            <!-- Humidity and Visibility -->
            <div class="w-full md:w-1/2 flex justify-around">
              <div class="p-4 flex flex-col justify-center items-center">
                <img src="./img/icons/cold.png" alt="Humid Icon" />
                <!-- Humidity Percentage -->
                <h2 class="title-font font-medium text-xl text-gray-900">
                  <%= retreivedData.main.humidity %>%
                </h2>
                <p class="leading-relaxed">Humidity</p>
              </div>

              <div class="p-4 flex flex-col justify-center items-center">
                <img src="./img/icons/foggy.png" alt="Foggy Icon" />
                <!-- Visibility in meters -->
                <h2 class="title-font font-medium text-xl text-gray-900">
                  <%= retreivedData.visibility %> m
                </h2>
                <p class="leading-relaxed">Visibility</p>
              </div>
            </div>

            <!-- Windspeed and Pressure -->
            <div class="w-full md:w-1/2 flex justify-around">
              <div class="p-4 flex flex-col justify-center items-center">
                <img src="./img/icons/windy.png" alt="Wind Icon" />
                <!-- Wind Speed in Km/h -->
                <h2 class="title-font font-medium text-xl text-gray-900">
                  <%= retreivedData.wind.speed %> Km/h
                </h2>
                <p class="leading-relaxed">Wind Speed</p>
              </div>
              <div class="p-4 flex flex-col justify-center items-center">
                <img src="./img/icons/hot.png" alt="Pressure Icon" />
                <!-- Atmospheric Pressure in hPa -->
                <h2 class="title-font font-medium text-xl text-gray-900">
                  <%= retreivedData.main.pressure %> hPa
                </h2>
                <p class="leading-relaxed">Pressure</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include the footer section -->

    <!-- Include the footer section -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
