<%- include('./partials/header.ejs') %>
<body>
  <div class="container d-flex flex-column justify-content-evenly h-100 w-100 fill mt-4">
    <div class="row d-flex flex-column align-items-center text-center">
      <div class="h1 mb-2"><a href="/"><i class="fa-solid fa-house"></i></a></div>
      <div class="h5  mb-4"><%= requestedCity %><span class="d-block h6">Today</span></div>
      <div class="row temp-display mb-1 w-50 align-items-start">
        <div class="col-2"><img src="<%= retreivedData.weather.iconURL %>" class="weather-icon"></div>
        <div class="col-10 current-temp mt-0">
          <span class="display-4"><%= Math.floor(retreivedData.main.temp) %>&#8451;</span>
          <div class="h4"><%= retreivedData.weather.main %></div>
        </div>
      </div>
    </div>
    <!-- Weather - All Data Displayed here -->
    <div class="row text-center text-uppercase weather-data-display">
      <div class="col-6">
        <div class="row pb-2 pt-2">
          <div class="col-4">
            <div>Feels Like</div>
            <div class="weather-result"><%= Math.floor(retreivedData.main.feels_like) %>&#8451;</div>
          </div>
          <div class="col-4">
            <div>Min</div>
            <div class="weather-result"><%= Math.floor(retreivedData.main.temp_min) %>&#8451;</div>
          </div>
          <div class="col-4">
            <div>Max</div>
            <div class="weather-result"><%= Math.floor(retreivedData.main.temp_max) %>&#8451;</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row pb-2 pt-2">
          <div class="col-4">
            <div>Humidity</div>
            <div class="weather-result"><%= retreivedData.main.humidity %>%</div>
          </div>
          <div class="col-4">
            <div>Wind Speed</div>
            <div class="weather-result"><%= retreivedData.wind.speed %> Km/h</div>
          </div>
          <div class="col-4">
            <div>Clouds</div>
            <div class="weather-result"><%= retreivedData.clouds.all %>%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center text-uppercase weather-data-display">
      <div class="col-6">
        <div class="row pb-2 pt-2">
          <div class="col-6">
            <div>Pressure</div>
            <div class="weather-result"><%= retreivedData.main.pressure %> hPa</div>
          </div>
          <div class="col-6">
            <div>Visibility</div>
            <div class="weather-result"><%= retreivedData.visibility %> m</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row pb-2 pt-2">
          <div class="col-6">
            <div>Sunrise</div>
            <div class="weather-result"><%= new Date(retreivedData.sunrise * 1000).toLocaleTimeString() %></div>
          </div>
          <div class="col-6">
            <div>Sunset</div>
            <div class="weather-result"><%= new Date(retreivedData.sunset * 1000).toLocaleTimeString() %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
